@font-face {
	font-family: 'icons-movistar';
	src:url('../fonts/icons-movistar.eot');
	src:url('../fonts/icons-movistar.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons-movistar.woff') format('woff'),
		url('../fonts/icons-movistar.ttf') format('truetype'),
		url('../fonts/icons-movistar.svg#icons-movistar') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icons-movistar';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-asterisco, .icon-calculadora, .icon-tutoriales, .icon-roaming, .icon-calendario, .icon-camara, .icon-alarma, .icon-busqueda-laboral, .icon-internet-correo-redes, .icon-necesitas-ayuda, .icon-etiqueta, .icon-internet, .icon-3g, .icon-112, .icon-444, .icon-555, .icon-611, .icon-666, .icon-932, .icon-activar-equipo, .icon-adelante, .icon-adsl, .icon-agencia-viajes-internacionales, .icon-agenda, .icon-ajustes, .icon-alertas, .icon-antena, .icon-atracciones-familiares, .icon-atracciones, .icon-auto-ayuda, .icon-banco-sol, .icon-bateria, .icon-blackberry, .icon-bloqueo-movil, .icon-blue-room, .icon-bluetooth, .icon-buscador, .icon-buscador2, .icon-buscador3, .icon-busqueda-laboral-2, .icon-cel, .icon-centro-comunicaciones, .icon-centros-movistar, .icon-chat, .icon-cheque, .icon-chip, .icon-ciego, .icon-cobertura, .icon-cocktail, .icon-comprar-equipo, .icon-computadora-medicina, .icon-computadora, .icon-comunicate-siempre, .icon-comunidad, .icon-conferencia, .icon-consumos, .icon-contactanos, .icon-correcto, .icon-cuatri-banda, .icon-cultura, .icon-curriculum-vitae, .icon-datos, .icon-deco-tv, .icon-deportes, .icon-desbloquear, .icon-descargar, .icon-directorio, .icon-doble-banda, .icon-donde-pagar-factura, .icon-ecologico, .icon-email, .icon-empresas, .icon-entretenimiento, .icon-envios, .icon-facil, .icon-familia, .icon-faqs, .icon-favoritos, .icon-feliz, .icon-ff, .icon-fijo-movil, .icon-firma-aqui, .icon-flecha-abajo, .icon-flecha-abajo2, .icon-flecha-arriba, .icon-flecha-arriba2, .icon-flecha-derecha-abajo, .icon-flecha-derecha-arriba, .icon-flecha-derecha-arriba2, .icon-flecha-derecha, .icon-flecha-derecha2, .icon-flecha-izquierda-abajo, .icon-flecha-izquierda-arriba, .icon-flecha-izquierda-arriba2, .icon-flecha-izquierda, .icon-flecha-izquierda2, .icon-flechas-arriba-abajo-diagonal, .icon-flechas-arriba-abajo, .icon-flechas-izquierda-derecha, .icon-fotografia, .icon-frio, .icon-gprs, .icon-gps, .icon-guia-movil, .icon-home, .icon-imagenes, .icon-impresora, .icon-impresora2, .icon-info, .icon-infrarrojo, .icon-internet-sociales, .icon-intervalos-nubosos, .icon-juegos, .icon-leer-mas, .icon-libro-e, .icon-lift-down, .icon-lift-up-down, .icon-lift-up, .icon-llamada-internacional, .icon-llamada, .icon-llamadas-sms, .icon-llamadaxcobrar, .icon-llenar, .icon-lluvia-fuerte, .icon-lluvia-ligera, .icon-lluvia, .icon-manos-libres, .icon-mejorar, .icon-melodias-llamadas, .icon-meteorologia, .icon-mi-movistar, .icon-mirar-mas, .icon-mis-ajustes, .icon-mms, .icon-modem-usb, .icon-mouse, .icon-mover-home, .icon-movil-contrato, .icon-movil-tarjeta, .icon-moviltalk, .icon-movistar, .icon-musica, .icon-mute, .icon-muy-feliz, .icon-muy-triste, .icon-navegador, .icon-negocios, .icon-newsletter, .icon-nieve, .icon-noticias, .icon-ns-nc, .icon-nublado, .icon-nuboso, .icon-nuevo, .icon-objetos-perdidos, .icon-oficina-movil, .icon-organizador, .icon-pagos-mensuales, .icon-pantalla-tactil, .icon-paquetes-eventuales, .icon-paquetes-recurrentes, .icon-paquetes, .icon-parlante, .icon-pausa, .icon-peliculas, .icon-planes, .icon-planes2, .icon-play, .icon-porta-movil, .icon-portatil, .icon-power, .icon-precio, .icon-presentar, .icon-procesador, .icon-promos-beneficios, .icon-radio, .icon-realidad-aumentada, .icon-recarga-saldo, .icon-recurrente, .icon-red, .icon-regalo, .icon-region, .icon-registrar, .icon-reloj, .icon-renovar-equipo, .icon-router, .icon-rw, .icon-seguinos, .icon-seguridad-pc, .icon-seguridad, .icon-seleccionar, .icon-seleccionar2, .icon-servicios, .icon-servidor, .icon-sitemap, .icon-sms-correctos, .icon-sms-enviados, .icon-sms-error, .icon-sms-respuesta-paga, .icon-sms, .icon-smsxcobrar, .icon-sol, .icon-soporte-tecnico, .icon-speedy, .icon-stop, .icon-tag, .icon-tarjeta-credito, .icon-tarjeta-datos, .icon-teclado, .icon-tel-linea, .icon-telefonia-publica, .icon-telefonica, .icon-tienda, .icon-todo-incluido, .icon-tonos-de-espera, .icon-tormenta, .icon-trafico, .icon-tramites-y-consultas, .icon-tri-banda, .icon-triste, .icon-tv, .icon-vale-regalo, .icon-viajes-roaming, .icon-videollamada, .icon-videomelodia, .icon-videotutoriales, .icon-vino, .icon-voicemail, .icon-volumen-alto, .icon-volumen-bajo, .icon-volumen, .icon-wap, .icon-webmail, .icon-widescreen, .icon-wifi, .icon-wireless, .icon-x, .icon-voz-a-texto, .icon-movilidad-empresas, .icon-cuenta-duda, .icon-banda-ancha, .icon-enviar-cv, .icon-buscador-2, .icon-fax, .icon-flechas-izquierd-derecha, .icon-llamada-conferencia, .icon-atencion-al-cliente, .icon-antivirus, .icon-promociones, .icon-factura-sin-papel, .icon-test, .icon-voip, .icon-video-llamada, .icon-video-melodia, .icon-tramites-consultas, .icon-sitemap-2, .icon-tel-2, .icon-60mb {
	font-family: 'icons-movistar';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-asterisco:before {
	content: "\e000";
}
.icon-calculadora:before {
	content: "\e001";
}
.icon-tutoriales:before {
	content: "\e002";
}
.icon-roaming:before {
	content: "\e003";
}
.icon-calendario:before {
	content: "\e004";
}
.icon-camara:before {
	content: "\e022";
}
.icon-alarma:before {
	content: "\e005";
}
.icon-busqueda-laboral:before {
	content: "\e006";
}
.icon-internet-correo-redes:before {
	content: "\e007";
}
.icon-necesitas-ayuda:before {
	content: "\e008";
}
.icon-etiqueta:before {
	content: "\e009";
}
.icon-internet:before {
	content: "\e00a";
}
.icon-3g:before {
	content: "\e00b";
}
.icon-112:before {
	content: "\e00c";
}
.icon-444:before {
	content: "\e00d";
}
.icon-555:before {
	content: "\e00e";
}
.icon-611:before {
	content: "\e00f";
}
.icon-666:before {
	content: "\e010";
}
.icon-932:before {
	content: "\e011";
}
.icon-activar-equipo:before {
	content: "\e012";
}
.icon-adelante:before {
	content: "\e013";
}
.icon-adsl:before {
	content: "\e014";
}
.icon-agencia-viajes-internacionales:before {
	content: "\e015";
}
.icon-agenda:before {
	content: "\e016";
}
.icon-ajustes:before {
	content: "\e017";
}
.icon-alertas:before {
	content: "\e018";
}
.icon-antena:before {
	content: "\e019";
}
.icon-atracciones-familiares:before {
	content: "\e01a";
}
.icon-atracciones:before {
	content: "\e01b";
}
.icon-auto-ayuda:before {
	content: "\e01c";
}
.icon-banco-sol:before {
	content: "\e01d";
}
.icon-bateria:before {
	content: "\e01e";
}
.icon-blackberry:before {
	content: "\e01f";
}
.icon-bloqueo-movil:before {
	content: "\e020";
}
.icon-blue-room:before {
	content: "\e021";
}
.icon-bluetooth:before {
	content: "\e023";
}
.icon-buscador:before {
	content: "\e024";
}
.icon-buscador2:before {
	content: "\e025";
}
.icon-buscador3:before {
	content: "\e026";
}
.icon-busqueda-laboral-2:before {
	content: "\e027";
}
.icon-cel:before {
	content: "\e028";
}
.icon-centro-comunicaciones:before {
	content: "\e029";
}
.icon-centros-movistar:before {
	content: "\e02a";
}
.icon-chat:before {
	content: "\e02b";
}
.icon-cheque:before {
	content: "\e02c";
}
.icon-chip:before {
	content: "\e02d";
}
.icon-ciego:before {
	content: "\e02e";
}
.icon-cobertura:before {
	content: "\e02f";
}
.icon-cocktail:before {
	content: "\e030";
}
.icon-comprar-equipo:before {
	content: "\e031";
}
.icon-computadora-medicina:before {
	content: "\e032";
}
.icon-computadora:before {
	content: "\e033";
}
.icon-comunicate-siempre:before {
	content: "\e034";
}
.icon-comunidad:before {
	content: "\e035";
}
.icon-conferencia:before {
	content: "\e036";
}
.icon-consumos:before {
	content: "\e037";
}
.icon-contactanos:before {
	content: "\e038";
}
.icon-correcto:before {
	content: "\e039";
}
.icon-cuatri-banda:before {
	content: "\e03a";
}
.icon-cultura:before {
	content: "\e03b";
}
.icon-curriculum-vitae:before {
	content: "\e03c";
}
.icon-datos:before {
	content: "\e03d";
}
.icon-deco-tv:before {
	content: "\e03e";
}
.icon-deportes:before {
	content: "\e03f";
}
.icon-desbloquear:before {
	content: "\e040";
}
.icon-descargar:before {
	content: "\e041";
}
.icon-directorio:before {
	content: "\e042";
}
.icon-doble-banda:before {
	content: "\e043";
}
.icon-donde-pagar-factura:before {
	content: "\e044";
}
.icon-ecologico:before {
	content: "\e045";
}
.icon-email:before {
	content: "\e046";
}
.icon-empresas:before {
	content: "\e047";
}
.icon-entretenimiento:before {
	content: "\e048";
}
.icon-envios:before {
	content: "\e049";
}
.icon-facil:before {
	content: "\e04a";
}
.icon-familia:before {
	content: "\e04b";
}
.icon-faqs:before {
	content: "\e04c";
}
.icon-favoritos:before {
	content: "\e04d";
}
.icon-feliz:before {
	content: "\e04e";
}
.icon-ff:before {
	content: "\e04f";
}
.icon-fijo-movil:before {
	content: "\e050";
}
.icon-firma-aqui:before {
	content: "\e051";
}
.icon-flecha-abajo:before {
	content: "\e052";
}
.icon-flecha-abajo2:before {
	content: "\e053";
}
.icon-flecha-arriba:before {
	content: "\e054";
}
.icon-flecha-arriba2:before {
	content: "\e055";
}
.icon-flecha-derecha-abajo:before {
	content: "\e056";
}
.icon-flecha-derecha-arriba:before {
	content: "\e057";
}
.icon-flecha-derecha-arriba2:before {
	content: "\e058";
}
.icon-flecha-derecha:before {
	content: "\e059";
}
.icon-flecha-derecha2:before {
	content: "\e05a";
}
.icon-flecha-izquierda-abajo:before {
	content: "\e05b";
}
.icon-flecha-izquierda-arriba:before {
	content: "\e05c";
}
.icon-flecha-izquierda-arriba2:before {
	content: "\e05d";
}
.icon-flecha-izquierda:before {
	content: "\e05e";
}
.icon-flecha-izquierda2:before {
	content: "\e05f";
}
.icon-flechas-arriba-abajo-diagonal:before {
	content: "\e060";
}
.icon-flechas-arriba-abajo:before {
	content: "\e061";
}
.icon-flechas-izquierda-derecha:before {
	content: "\e062";
}
.icon-fotografia:before {
	content: "\e063";
}
.icon-frio:before {
	content: "\e064";
}
.icon-gprs:before {
	content: "\e065";
}
.icon-gps:before {
	content: "\e066";
}
.icon-guia-movil:before {
	content: "\e067";
}
.icon-home:before {
	content: "\e068";
}
.icon-imagenes:before {
	content: "\e069";
}
.icon-impresora:before {
	content: "\e06a";
}
.icon-impresora2:before {
	content: "\e06b";
}
.icon-info:before {
	content: "\e06c";
}
.icon-infrarrojo:before {
	content: "\e06d";
}
.icon-internet-sociales:before {
	content: "\e06e";
}
.icon-intervalos-nubosos:before {
	content: "\e06f";
}
.icon-juegos:before {
	content: "\e070";
}
.icon-leer-mas:before {
	content: "\e071";
}
.icon-libro-e:before {
	content: "\e072";
}
.icon-lift-down:before {
	content: "\e073";
}
.icon-lift-up-down:before {
	content: "\e074";
}
.icon-lift-up:before {
	content: "\e075";
}
.icon-llamada-internacional:before {
	content: "\e076";
}
.icon-llamada:before {
	content: "\e077";
}
.icon-llamadas-sms:before {
	content: "\e078";
}
.icon-llamadaxcobrar:before {
	content: "\e079";
}
.icon-llenar:before {
	content: "\e07a";
}
.icon-lluvia-fuerte:before {
	content: "\e07b";
}
.icon-lluvia-ligera:before {
	content: "\e07c";
}
.icon-lluvia:before {
	content: "\e07d";
}
.icon-manos-libres:before {
	content: "\e07e";
}
.icon-mejorar:before {
	content: "\e07f";
}
.icon-melodias-llamadas:before {
	content: "\e080";
}
.icon-meteorologia:before {
	content: "\e081";
}
.icon-mi-movistar:before {
	content: "\e082";
}
.icon-mirar-mas:before {
	content: "\e083";
}
.icon-mis-ajustes:before {
	content: "\e084";
}
.icon-mms:before {
	content: "\e085";
}
.icon-modem-usb:before {
	content: "\e086";
}
.icon-mouse:before {
	content: "\e087";
}
.icon-mover-home:before {
	content: "\e088";
}
.icon-movil-contrato:before {
	content: "\e089";
}
.icon-movil-tarjeta:before {
	content: "\e08a";
}
.icon-moviltalk:before {
	content: "\e08b";
}
.icon-movistar:before {
	content: "\e08c";
}
.icon-musica:before {
	content: "\e08d";
}
.icon-mute:before {
	content: "\e08e";
}
.icon-muy-feliz:before {
	content: "\e08f";
}
.icon-muy-triste:before {
	content: "\e090";
}
.icon-navegador:before {
	content: "\e091";
}
.icon-negocios:before {
	content: "\e092";
}
.icon-newsletter:before {
	content: "\e093";
}
.icon-nieve:before {
	content: "\e094";
}
.icon-noticias:before {
	content: "\e095";
}
.icon-ns-nc:before {
	content: "\e096";
}
.icon-nublado:before {
	content: "\e097";
}
.icon-nuboso:before {
	content: "\e098";
}
.icon-nuevo:before {
	content: "\e099";
}
.icon-objetos-perdidos:before {
	content: "\e09a";
}
.icon-oficina-movil:before {
	content: "\e09b";
}
.icon-organizador:before {
	content: "\e09c";
}
.icon-pagos-mensuales:before {
	content: "\e09d";
}
.icon-pantalla-tactil:before {
	content: "\e09e";
}
.icon-paquetes-eventuales:before {
	content: "\e09f";
}
.icon-paquetes-recurrentes:before {
	content: "\e0a0";
}
.icon-paquetes:before {
	content: "\e0a1";
}
.icon-parlante:before {
	content: "\e0a2";
}
.icon-pausa:before {
	content: "\e0a3";
}
.icon-peliculas:before {
	content: "\e0a4";
}
.icon-planes:before {
	content: "\e0a5";
}
.icon-planes2:before {
	content: "\e0a6";
}
.icon-play:before {
	content: "\e0a7";
}
.icon-porta-movil:before {
	content: "\e0a8";
}
.icon-portatil:before {
	content: "\e0a9";
}
.icon-power:before {
	content: "\e0aa";
}
.icon-precio:before {
	content: "\e0ab";
}
.icon-presentar:before {
	content: "\e0ac";
}
.icon-procesador:before {
	content: "\e0ad";
}
.icon-promos-beneficios:before {
	content: "\e0ae";
}
.icon-radio:before {
	content: "\e0af";
}
.icon-realidad-aumentada:before {
	content: "\e0b0";
}
.icon-recarga-saldo:before {
	content: "\e0b1";
}
.icon-recurrente:before {
	content: "\e0b2";
}
.icon-red:before {
	content: "\e0b3";
}
.icon-regalo:before {
	content: "\e0b4";
}
.icon-region:before {
	content: "\e0b5";
}
.icon-registrar:before {
	content: "\e0b6";
}
.icon-reloj:before {
	content: "\e0b7";
}
.icon-renovar-equipo:before {
	content: "\e0b8";
}
.icon-router:before {
	content: "\e0b9";
}
.icon-rw:before {
	content: "\e0ba";
}
.icon-seguinos:before {
	content: "\e0bb";
}
.icon-seguridad-pc:before {
	content: "\e0bc";
}
.icon-seguridad:before {
	content: "\e0bd";
}
.icon-seleccionar:before {
	content: "\e0be";
}
.icon-seleccionar2:before {
	content: "\e0bf";
}
.icon-servicios:before {
	content: "\e0c0";
}
.icon-servidor:before {
	content: "\e0c1";
}
.icon-sitemap:before {
	content: "\e0c2";
}
.icon-sms-correctos:before {
	content: "\e0c3";
}
.icon-sms-enviados:before {
	content: "\e0c4";
}
.icon-sms-error:before {
	content: "\e0c5";
}
.icon-sms-respuesta-paga:before {
	content: "\e0c6";
}
.icon-sms:before {
	content: "\e0c7";
}
.icon-smsxcobrar:before {
	content: "\e0c8";
}
.icon-sol:before {
	content: "\e0c9";
}
.icon-soporte-tecnico:before {
	content: "\e0ca";
}
.icon-speedy:before {
	content: "\e0cb";
}
.icon-stop:before {
	content: "\e0cc";
}
.icon-tag:before {
	content: "\e0cd";
}
.icon-tarjeta-credito:before {
	content: "\e0ce";
}
.icon-tarjeta-datos:before {
	content: "\e0cf";
}
.icon-teclado:before {
	content: "\e0d0";
}
.icon-tel-linea:before {
	content: "\e0d1";
}
.icon-telefonia-publica:before {
	content: "\e0d2";
}
.icon-telefonica:before {
	content: "\e0d3";
}
.icon-tienda:before {
	content: "\e0d4";
}
.icon-todo-incluido:before {
	content: "\e0d5";
}
.icon-tonos-de-espera:before {
	content: "\e0d6";
}
.icon-tormenta:before {
	content: "\e0d7";
}
.icon-trafico:before {
	content: "\e0d8";
}
.icon-tramites-y-consultas:before {
	content: "\e0d9";
}
.icon-tri-banda:before {
	content: "\e0da";
}
.icon-triste:before {
	content: "\e0db";
}
.icon-tv:before {
	content: "\e0dc";
}
.icon-vale-regalo:before {
	content: "\e0dd";
}
.icon-viajes-roaming:before {
	content: "\e0de";
}
.icon-videollamada:before {
	content: "\e0df";
}
.icon-videomelodia:before {
	content: "\e0e0";
}
.icon-videotutoriales:before {
	content: "\e0e1";
}
.icon-vino:before {
	content: "\e0e2";
}
.icon-voicemail:before {
	content: "\e0e3";
}
.icon-volumen-alto:before {
	content: "\e0e4";
}
.icon-volumen-bajo:before {
	content: "\e0e5";
}
.icon-volumen:before {
	content: "\e0e6";
}
.icon-wap:before {
	content: "\e0e7";
}
.icon-webmail:before {
	content: "\e0e8";
}
.icon-widescreen:before {
	content: "\e0e9";
}
.icon-wifi:before {
	content: "\e0ea";
}
.icon-wireless:before {
	content: "\e0eb";
}
.icon-x:before {
	content: "\e0ec";
}
.icon-voz-a-texto:before {
	content: "\e0ed";
}
.icon-movilidad-empresas:before {
	content: "\e0ee";
}
.icon-cuenta-duda:before {
	content: "\e0ef";
}
.icon-banda-ancha:before {
	content: "\e0f0";
}
.icon-enviar-cv:before {
	content: "\e0f1";
}
.icon-buscador-2:before {
	content: "\e0f2";
}
.icon-fax:before {
	content: "\e0f3";
}
.icon-flechas-izquierd-derecha:before {
	content: "\e0f4";
}
.icon-llamada-conferencia:before {
	content: "\e0f5";
}
.icon-atencion-al-cliente:before {
	content: "\e0f6";
}
.icon-antivirus:before {
	content: "\e0f7";
}
.icon-promociones:before {
	content: "\e0f8";
}
.icon-factura-sin-papel:before {
	content: "\e0f9";
}
.icon-test:before {
	content: "\e0fa";
}
.icon-voip:before {
	content: "\e0fb";
}
.icon-video-llamada:before {
	content: "\e0fc";
}
.icon-video-melodia:before {
	content: "\e0fd";
}
.icon-tramites-consultas:before {
	content: "\e0fe";
}
.icon-sitemap-2:before {
	content: "\e0ff";
}
.icon-tel-2:before {
	content: "\e100";
}
.icon-60mb:before {
	content: "\e101";
}
